html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(58, 58, 58);
    color: white;
    font-family: 'Text Me One', sans-serif;
}

section {
    height: 33.3vh;
}

#fname {
    font-size: 1.7em;
}

#txtHint {
    font-size: 4em;
}