html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(58, 58, 58);
    color: white;
    font-family: 'Text Me One', sans-serif;
    font-size: 1.5em;
}

section {
    height: 33.33vh;
}

#txtHint {
    font-size: 1.8em;
}

#fname {
    font-size: 1.2em;
}