html, body{
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Text Me One', sans-serif;
    background-image: url("img/fond.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

section {
    height: 33.33vh;
}

#titre {
    font-size: 45px;
}

#txtHint {
    font-size: 100px;
    padding: 0;
    margin: 0;
}

#fname {
    font-size: 45px;
    background-image: linear-gradient(to top, rgba(226, 9, 31, 0.6), rgba(226, 9, 31, 1), rgba(226, 9, 31, 0.6));
    color: white;
}